body {
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
q,
input {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 300; }

.blue {
  background: #12a6bd; }

.green {
  background: #88ae60; }

.gold {
  background: #e2c558; }

.orange {
  background: #df924a; }

.pink {
  background: #c54f7d; }

.purple {
  background: #9b5a9d; }

.colors {
  z-index: 1;
  position: absolute;
  right: 60px;
  top: 60px; }
  .colors li {
    position: relative;
    width: 25px;
    height: 25px;
    margin-bottom: 12px;
    list-style: none;
    border: 1px solid #ebebeb; }
    .colors li:hover:before, .colors li.active:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 4px;
      left: -18px;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid #ebebeb; }
    .colors li:hover {
      cursor: pointer; }

.result,
.large-input,
.helper-text {
  position: absolute;
  bottom: 60px; }

.result {
  padding: 25px 85px;
  color: #ebebeb; }
  .result .name {
    font-size: 75px; }
  .result q {
    font-size: 45px;
    font-weight: 300;
    line-height: 60px; }
  .result .author {
    font-size: 20px;
    letter-spacing: 0.1em;
    text-align: right;
    text-transform: uppercase;
    margin: 15px 40px 0 0; }

.large-input {
  width: 84%;
  margin: 0;
  padding: 25px 85px;
  background: none;
  font-size: 75px;
  color: #ebebeb;
  outline: none;
  border: none; }
  .large-input::-webkit-input-placeholder {
    color: #ebebeb; }

.helper-text,
#task-input {
  display: none; }

.helper-text.display {
  display: block;
  opacity: 0.75; }

.helper-text {
  color: #ebebeb;
  padding: 0 85px;
  font-size: 22px;
  letter-spacing: 0.1em; }
