body {
  padding: 0;
  margin: 0; }

.blue {
  background: #12a6bd; }

.green {
  background: #b4bb6f; }

.gold {
  background: #e2c558; }

.orange {
  background: #df924a; }

.pink {
  background: #b78198; }

.purple {
  background: #9b5a9d; }

.colors {
  position: absolute;
  right: 60px;
  top: 60px; }
  .colors li {
    position: relative;
    width: 25px;
    height: 25px;
    margin-bottom: 12px;
    list-style: none;
    border: 1px solid #ebebeb; }
    .colors li:hover:before, .colors li.active:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 4px;
      left: -18px;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid #ebebeb; }
    .colors li:hover {
      cursor: pointer; }

.result,
.large-input,
.helper-text {
  position: absolute;
  bottom: 60px; }

.result {
  padding: 25px 85px;
  color: #ebebeb; }

h2.name {
  font-weight: 500;
  font: 75px "Open Sans", "Helvetica", "Arial", sans-serif; }

q {
  font: 45px "Open Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 60px; }

.large-input {
  width: 84%;
  margin: 0;
  padding: 25px 85px;
  background: none;
  font: 75px "Open Sans", "Helvetica", "Arial", sans-serif;
  outline: none;
  border: none;
  color: #ebebeb; }
  .large-input::-webkit-input-placeholder {
    color: #ebebeb; }

.helper-text {
  color: #ebebeb;
  display: none;
  padding: 0 85px;
  font: 300 22px "Open Sans", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.1em; }
