// Define Colors
$blue: #12a6bd;
$green: #88ae60;
$gold: #e2c558;
$orange: #df924a;
$pink: #c54f7d;
$purple: #9b5a9d;
$blue-accent: #ebebeb; 

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
q,
input {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 300;  
}

.blue {
  background: $blue;
}
.green {
  background: $green;
}
.gold {
  background: $gold;
}
.orange {
  background: $orange;
}
.pink {
  background: $pink;
}
.purple {
  background: $purple;
}

.colors {
  z-index: 1;
  position: absolute;
  right: 60px;
  top: 60px;
  li {
    position: relative;
    width: 25px;
    height: 25px;
    margin-bottom: 12px;
    list-style: none;
    border: 1px solid $blue-accent;
    &:hover,
    &.active {
      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 4px;
        left: -18px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid $blue-accent;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.result,
.large-input,
.helper-text {
  position: absolute;
  bottom: 60px;
}

.result {
  padding: 25px 85px;
  color: $blue-accent;
  .name {
    font-size: 75px;
  }
  q {
    font-size: 45px;
    font-weight: 300;
    line-height: 60px;
  }
  .author {
    font-size: 20px;
    letter-spacing: 0.1em;
    text-align: right;
    text-transform: uppercase;
    margin: 15px 40px 0 0;
  }
}

.large-input {
  width: 84%;
  margin: 0;
  padding: 25px 85px;
  background: none;
  font-size: 75px;
  color: $blue-accent;
  outline: none;
  border: none;
  &::-webkit-input-placeholder {
    color: $blue-accent;
  }
}

.helper-text,
#task-input {
  display: none;
}

.helper-text.display {
  display: block;
  opacity: 0.75;
}

.helper-text {
  color: $blue-accent;
  padding: 0 85px;
  font-size: 22px;
  letter-spacing: 0.1em;
}