{% extends "base.html" %}

{% block content %}
<form action="{{ action }}" method="post" id="questions">
  <input type="text" name="name" class="large-input" id="name-input" value="Type your name..." maxLength="25" autocomplete="off"/>
  <input type="text" name="task" class="large-input" id="task-input" value="What do you need to do?" maxLength="30" autocomplete="off"/>
  <input type="hidden" value="blue" id="color-input" name="color"/>
  <h3 class="helper-text" id="name-helper-text">Press ENTER to submit</h3>
  <h3 class="helper-text" id="task-helper-text">Press ENTER for motivation</h3>
</form>
{% endblock %}