<!doctype html>
<html>
  <head>
    <title>MotivateMe</title>
    <link href="static/css/reset.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body class="{{ color }}">
    <ul class="colors">
      <li class="blue"></li>
      <li class="green"></li>
      <li class="gold"></li>
      <li class="orange"></li>
      <li class="pink"></li>
      <li class="purple"></li>
    </ul>

    <div class="result">
      <h2 class="name" id="name">{{ name }},</h2>
      <q>{{ quote["quote"] }}</q>
      <h3 class="author">- {{ quote["author"] }}</h3>
    </div>

    <h3 class="helper-text display">Press ENTER to search again</h3>
    
    <script src="static/js/jquery-2.0.3.min.js"></script>
    <script src="static/js/motivateme.js"></script>
    <script src="static/js/putCursorAtEnd.js"></script>
  </body>
</html>
